@import 'assets/theme';

.query-inputs {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.query-explorer__editor {
  width: 100%;
  flex-grow: 1;
}

.query-inputs__selectors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  font-size: 1.2rem;
  color: $dark-gray;
  background-color: #fff;
  border: 1px solid $secondary;
}

.query-inputs__mode-selector {
  width: 9rem;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: $white;
}

.query-inputs__tenant-selector {
  > label {
    margin-right: 0.4rem;
  }

  > select {
    background-color: $white;
    width: 14rem;
    border-radius: 5px;
    padding: 0.2rem;
  }
}

.query-inputs__debug {
  display: flex;
  align-items: center;

  > label {
    margin-right: 0.4rem;
  }

  > input {
    width: 20px;
    height: 20px;
  }
}
