// RestQL Theme

$primary: #001b59;
$secondary: #d84e40;
$accent: #67e7c2;
$gray: #e7e7e7;
$dark-gray: #333333;
$white: #fdfdfd;
$black: #20201e;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
