.main_page {
  max-width: 100vw;
  max-height: 100vh;

  height: 100vh;
  display: flex;
}

.main_page__editor {
  width: 100%;
  max-width: 100%;
}

.main_page__result {
  width: 100%;
  max-width: 100%;
  resize: none;
}
